@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@1,300;1,400&family=Ubuntu:wght@500;700&display=swap');


p,a,li{
  font-family: 'Poppins', sans-serif;
}

h2,h1{
    font-family: 'Ubuntu', sans-serif;
  }



  
  .rotate-center{
    transform: rotate(360);
   }
   